@import "apps/shared/styles/variables.scss";
@import "apps/shared/styles/mixins.scss";

.watchlist_movie_card {
  width: 350px;
  height: 300px;
  padding: 12px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: 1px solid $black;
  margin-bottom: 12px;
  & > * {
    margin: 12px 0;
  }
}
