@import "apps/shared/styles/variables.scss";
@import "apps/shared/styles/mixins.scss";

.genre_wrapper {
    width: 6.25rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: $yellow;
    border-radius: 0.75rem;
    -webkit-border-radius: 0.75rem;
    -moz-border-radius: 0.75rem;
    -ms-border-radius: 0.75rem;
    -o-border-radius: 0.75rem;
    font-size: 0.75rem;
}
