@import "apps/shared/styles/variables.scss";
@import "apps/shared/styles/mixins.scss";

.genre_wrapper {
    width: 100px;
    padding: 8px;
    border: none;
    outline: none;
    background-color: $yellow;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-size: 0.75rem;
}
