@import "apps/shared/styles/variables.scss";

@mixin rating {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 0.0625rem solid $red;
    border-radius: 50%;
    position: absolute;
}

.rating_top_right {
    @include rating;
    top: 0.5rem;
    right: 0.5rem;
}

.rating_top_left {
    @include rating;
    top: 0.5rem;
    left: 0.5rem;
}

.rating_bottom_left {
    @include rating;
    bottom: 0.5rem;
    left: 0.5rem;
}

.rating_bottom_right {
    @include rating;
    bottom: 0.5rem;
    right: 0.5rem;
}
