@import "apps/shared/styles/variables.scss";
@import "apps/shared/styles/mixins.scss";

@mixin rating {
    @include flex-center;
    width: 2rem;
    height: 2rem;
    border: 1px solid $red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
}

.rating_top_right {
    @include rating;
    top: 8px;
    right: 8px;
}

.rating_top_left {
    @include rating;
    top: 8px;
    left: 8px;
}

.rating_bottom_left {
    @include rating;
    bottom: 8px;
    left: 8px;
}

.rating_bottom_right {
    @include rating;
    bottom: 8px;
    right: 8px;
}
