@import "styles/UI/variables.scss";
@import "styles/UI/mixins.scss";

.actor_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.genre_wrapper {
  @include flex-between;
  span {
    margin-right: 8px;
  }
}
