@import "apps/shared/styles/variables.scss";
@import "apps/shared/styles/mixins.scss";

.header_wrapper {
    @include flex-between;
    width: 100%;
    background-color: $black;
    color: $yellow;
    padding: $page-padding;
    max-height: 72px;
    .left_section {
        @include flex-center;
        .home_link {
            margin-right: 12px;
            cursor: pointer;
        }
    }
    .right_section {
        @include flex-between;

        .watchlist_text {
            margin-right: 16px;
        }
    }
}
