@import "apps/shared/styles/variables.scss";

.header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $black;
    color: $yellow;
    padding: $page-padding;
    max-height: 4.5rem;
    .left_section {
        display: flex;
        justify-content: center;
        align-items: center;
        .home_link {
            margin-right: 0.75rem;
            cursor: pointer;
        }
    }
    .right_section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .watchlist_text {
            margin-right: 1rem;
        }
    }
}
